<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a
            href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5
        UP</a>.</p>
</footer>

</div>
</div>

</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/static/assets/js/browser.min.js"></script>
<script src="/static/assets/js/breakpoints.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/static/assets/js/ajax/main.js"></script>
<script src="/static/assets/js/main.js"></script>


</body>

</html>