<!-- Section -->
<section>
    <header class="major">
        <h2>JIHONAE.company</h2>
    </header>
    <p>No darkness lasts forever. And even there, there are starts -Ursula K.Le Guin-
        <br>
        어둠은 영원하지 않다.
        <br>
        그리고, 그런 어둠 속에도 별은 존재한다</p>
    <ul class="contact">
        <li class="icon solid fa-envelope"><a href="#">smhrd@smhrd.or.kr</a></li>
        <li class="icon solid fa-phone">(062) 655-3509</li>
        <li class="icon solid fa-home">광주광역시 남구 송암로60<br />
            광주CGI센터 2층</li>
    </ul>
</section>