<!DOCTYPE HTML>

<html>

<head>
    <title>1단계 케어</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />

</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
                </header>

                <!-- Content -->
                <section id="banner">
                    <div class="content">
                        <header>
                            <h1>당신의 우울정도는 1단계 입니다 ! </h1>
                            <h2>" 유의한 우울감이 시사 되지 않습니다" </h2>
                            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1단계는 과제 수행이 없습니다 ! <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 지금처럼만 활동하시면 됩니다 ! <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 한달 뒤 본인의 상태를 다시 점검하러 오세여 ! </h4>

                        </header>
                        <br><br>

                    </div>
                </section>

            </div>
        </div>



        <!-- Sidebar -->
        {{>layout/sidebar}}

        <!-- Menu -->
        {{>layout/menu}}


        <!-- Section -->
        {{>layout/section}}

        <!-- Footer -->
        {{>layout/footer}}