<!DOCTYPE HTML>

<html>

<head>
    <title>3단계 케어</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/work.css" />

</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">


                <!-- Header -->
                <header id="header">
                    <a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
                </header>



                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <header>
                            <h1>당신의 우울정도는 3단계 입니다 ! </h1>
                            <h6 style="color:rgb(122, 122, 122)">&nbsp;"중간정도 수준의 우울감이 시사됩니다. 이러한 수준의 우울감은 흔히 신체적, 심리적 대처자원을 저하시키며 개인의 일상생활을 어렵게 만들기도 합니다. <br> &nbsp;&nbsp;가까운 지역센터나 전문기관을 방문하여 보다 상세한 평가와 도움을 받아보시기 바랍니다."</h6>
                            <br>
                            <br>

                            <h2> 3단계 과제를 수행해보세요 ! </h2>
                            <br>
                        </header>
                        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                            <div class="col">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 fw-normal">자기효능감 높이기</h4>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title pricing-card-title">내 인생의 주체는 <br> 내가 되기</h3>
                                        <br>
                                        <button type="button" onclick="location.href='/state/assignment/efficacy'">시작하기</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 fw-normal">생활습관교정</h4>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title pricing-card-title">생활습관 교정을 통해 <br> 우울감 날리기</h3>
                                        <br>
                                        <button type="button" onclick="location.href='/state/assignment/habit'">시작하기</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 fw-normal">스트레스관리</h4>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title pricing-card-title">서터레스 <br> 날려버리기</h3>
                                        <br>
                                        <button type="button" onclick="location.href='/state/assignment/stress'">시작하기</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                            <div class="col">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 fw-normal">미술치료</h4>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title pricing-card-title">그리기로 <br> 힐링하기</h3>
                                        <br>
                                        <button type="button" onclick="location.href='/state/assignment/draw'">시작하기</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 fw-normal">명상하기</h4>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title pricing-card-title">명상하기 <br> 하기</h3>
                                        <br>
                                        <button type="button" onclick="location.href='/state/assignment/meditation'">시작하기</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4 class="my-0 fw-normal">상담받기</h4>
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title pricing-card-title"> 마음속의 고민 <br> 상담으로 </h3>
                                        <br>
                                        <button type="button" onclick="location.href='/state/assignment/hosi'">시작하기</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>
            </section>
        </div>




        <!-- Sidebar -->
        {{>layout/sidebar}}

        <!-- Menu -->
        {{>layout/menu}}


        <!-- Section -->
        {{>layout/section}}

        <!-- Footer -->
        {{>layout/footer}}