<!DOCTYPE HTML>

<html>

<head>
	<title>about</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

	<!-- Custom styles for this template -->
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h1>우울이란 ?</h1>
					</header>

					<!-- Content -->
					<h2 id="content">우울한 기분</h2>
					<p>“아… 우울해.” 
						누구나 살다 보면 한번쯤은 떠올리기도, 말로 표현하기도 하는 말입니다. <br>
						이 ‘우울한 기분’이 단순한 기분이 아니라 병적인 수준의 우울증이 되었다는 것을 어떻게 구분할 수 있을까요?
						</p>
					<div class="row">
						<div class="col-6 col-12-small">
							<h3>기분장애? 우울증? </h3>
							<p>즐거운 일이 있을 때 즐거워하고 슬픈 일이 있을 때 슬퍼하는 것은 자연스러운 일이며 건강하다고 할 수 있습니다.
								하지만 어떤 일을 겪으면서 이전보다 혹은 사회 통념상 다른 사람들의 반응에 비해 지나치고
								오래 우울해한다면 기분을 조절하는 데 문제가 생겼을 가능성을 생각해 볼 수 있습니다.
								심지어는 특별히 슬퍼할 만한 일이 없는데도 자신의 생활에 지장을 줄 만큼 우울하다면 기분을 경험하고 표현하는 데 병이 생겼다고 할 수 있을 것입니다.
								이런 기분 변화와 동시에 신체적, 정신적, 행동적인 변화나 어려움이 동반되면, 병적인 수준일 가능성이 매우 높습니다.</p>
						</div>
						<div class="col-6 col-12-small">
							<h3>우울증이란 ? </h3>
							<p>우울증은 우울장애 또는 주요우울장애라고도 불리며, 우울감과 무기력, 즐거움 상실, 또는 짜증과 분노의 느낌을 지속해서 유발하는 ‘장애’입니다.
								기분, 생각 및 행동 방식에 영향을 미치며 다양한 정서적, 신체적 고통을 유발할 수 있습니다.
								일상적인 활동을 하는 데 어려움을 겪을 수도 있고 때로는 인생의 가치가 없는 것처럼 느껴질 수도 있습니다.
								기분이 상하는 일이 종종 생기는 것은 인생의 일부이고, 슬프고 화나는 사건은 모두에게 일어납니다.
								그러나 주기적으로 그리고 자주 기분이 상하거나 희망이 없다면 우울증에 시달릴 수도 있습니다..</p>
						</div>
						<!-- Break -->
						<div class="col-4 col-12-medium">
							<h3>우울병은 얼마나 많은가요 ? </h3>
							<p>일반적으로 서양의 경우 여자는 10-25%, 남자는 5-10% 정도가 평생에 한번 이상 중증 우울병을 경험한다고 알려져 있습니다. 
								여자에서 더 많은 이유는 확실하지는 않지만 호르몬이 영향을 미치거나 여성에서 사회문화적 스트레스가 많음에도 불구하고 적절하게 해소할 수 있는 방법은 
								제한적이라는 점이 제시되고 있습니다. 우울병은 특히 자살과 밀접한 관련이 있는데 자살기도자의 70%는 정신장애를 가지고 있고 
								그 중 70%는 심한 우울병 환자인 것으로 추정됩니다.</p>
						</div>
						<div class="col-4 col-12-medium">
							<h3>우울증은 왜 생기나요?</h3>
							<p>심리사회적 스트레스만이 우울병을 발생할 수 있는가에 관해서는 아직 논란이 있지만, 
								스트레스는 우울병의 소인이 있는 사람에서 우울 증상이 나타나게 하고 우울병의 재발에도 영향을 미치는 것으로 보입니다. 
								우울병의 원인으로 생물학적 요인들이 다수 제기되고 있지만 아직 명확하지는 않습니다. 
								또한 우울병은 단일 질환이라기보다는 다양한 원인에 의하여 발생되는 증후군일 가능성이 높습니다.</p>
						</div>
						<div class="col-4 col-12-medium">
							<h3>어떻게 치료하나요? </h3>
							<p>약물치료와 정신치료(심리치료)는 우울증을 앓고 있는 대부분의 사람에게 효과적입니다.
								치료가 증상 개선과 삶의 질 향상에 도움이 되므로 치료를 받는 것이 중요하며, 가능한 여러 치료 방법의 선택에 대해서는 의사와 상의하시는 것이 좋습니다.
								가벼운 우울증은 정신치료만으로 호전되는 경우도 있으나, 대부분의 우울증에서는 정신치료와 함께 약물치료가 필수적이며 그 외 비약물학적 치료를 권고할 수도 있습니다.</p>
						</div>
					</div>


			</div>
		</div>

	<!-- Sidebar -->
	{{>layout/sidebar}}

				<!-- Menu -->
				{{>layout/menu}}


				<!-- Section -->
				{{>layout/section}}
			
				<!-- Footer -->
				{{>layout/footer}}
