<!DOCTYPE HTML>

<html>

<head>
    <title>상담받기</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />


</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
                </header>


                <!-- Content -->
                <section>
                    <header class="main">
                        <h1>"상담 받기" </h1>
                    </header>

                    <!-- Content -->
                    <h2 id="content">우울 뽀셔뽀셔</h2>
                    <p> 자신이 겪고 있는 것, 이런 경험들이 나에게 어떻게 영향을 주고 있는지 <br> 그리고 왜 그것이 외부의 개입을 필요로 할 만큼 심각하다고 생각하는 지 등을 이야기해보세요. <br> 중요한 것은 나의 경험을 말하는 것이 스스로를 약하게 만들지 않는다는 것입니다.
                        <br>
                        <br> 단순히 자신의 상황과 증상에 대해 이해하는 사람에게 털어 놓는 것만으로도 여러분이 받는 스트레스 일부를 줄일 수 있습니다.
                        <br>
                        <br>
                        <br>
                        <h2>'대한정신건강재단</h2>

                    </p>

                    <div class="row">

                        <p><span class="image"><img src="/static/images/sangdam.png" alt="" /></span></p>

                        <!-- Break -->
                        <div class="col-4 col-12-medium">



                        </div>
                    </div>

                    <center><a href="http://www.mind44.co.kr/www/sub/menu_02/all_advice.php" class="button primary">상담받기</a></center>

            </div>
        </div>


        <!-- Sidebar -->
        {{>layout/sidebar}}

        <!-- Menu -->
        {{>layout/menu}}


        <!-- Section -->
        {{>layout/section}}

        <!-- Footer -->
        {{>layout/footer}}