<!DOCTYPE HTML>

<html>

<head>
	<title>미술돌봄_명화</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

	<style>
		.image1{
			display: inline-block !important;
			float: left !important;
			margin: 20px;
		}
		.button{
			position: fixed !important;
			bottom: 100px !important;
			right: 8%;
		}

		.h3{
		display: inline;
		}
	</style>

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h1>"명화 그리기"</h1>
					</header>

					<h4></h4>
					<p><span class="image left"><img src="/static/images/mh11.jpg" alt="" /></span></p>

					<p><span class="image right"><img src="/static/images/mh1.png" alt="" /></span>
						
						
						<br>
						&nbsp;명상이나 음악 듣기, 그림 그리기, 상상하기, 가벼운 체조나 씹기 등은 뇌를 활성화하는 좋은 방법들입니다.
							그중에서도 그림 그리기나 채색하기는 매우 좋은 방법 중 하나입니다. 우뇌를 자극하면 뇌에서 뇌내 모르핀이 활성화됩니다. 
							뇌내 모르핀은 사람의 기분을 좋게 할 뿐만 아니라 노화 방지와 자연 치유력 그리고 창조적 사고에 뛰어난 효과를 가지고 있습니다. 
							또한 우뇌에서 발산되는 알파파는 긴장 상태를 풀어주어 편안한 마음을 갖게 해줍니다. 
							이와 같이 명화따라기 같은 예술 활동을 통해서 우뇌의 전두엽을 사용하는 생활 방식을 가지게 되면 아무리 괴로운 일이 닥쳐도 <h3 class="h3"> 긍정적 </h3> 으로 받아들일 수 있게 됩니다.
							그리고 <h3 class="h3">마음이 안정되어 싸울 일도 적어지게 되며 스트레스도 시원하게 해소됩니다.</h3> 
						</p>
					
					<h1></h1>
					<br>
					<br>
					<p></p>
					<h2 style="clear: both;">하나 선택해서 그려보자 ! </h2>
					<br>
					<h3>1.고흐의 별이 빛나는 밤에</h3>
					<span class="image1"><img src="/static/images/realmh.jpg" alt="" /></span>
					<p><span class="image"><img src="/static/images/realmhdoan.jpg" alt="" /></span></p>

					<h3 style="clear: both;">2.요하네스 페르메이르의 진주귀고리를 한 소녀</h3>
					<span class="image1"><img src="/static/images/realmh2.jpg" alt="" /></span>
					<p><span class="image1"><img src="/static/images/realmhdoan2.jpg" alt="" /></span>

					<h3 style="clear: both;">3.샤갈의 나와 마을</h3>
					<span class="image1"><img src="/static/images/realmh4.jpg" alt="" /></span>
					<p><span class="image1"><img src="/static/images/realmhdoan4.jpg" alt="" /></span></p>

					<a href="/home" class="button primary">메인화면</a>

			</div>
		</div>


	
	<!-- Sidebar -->
	{{>layout/sidebar}}

				<!-- Menu -->
				{{>layout/menu}}


				<!-- Section -->
				{{>layout/section}}
			
				<!-- Footer -->
				{{>layout/footer}}

