<!DOCTYPE HTML>

<html>

<head>
	<title>미술 돌봄</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h1>미술 돌봄</h1>
					</header>

					<!-- Content -->
					<h2 id="content">우울 뽀셔뽀셔</h2>
					<p> 미술 활동을 통해서 우뇌의 전두엽을 사용하는 생활 방식을 가지게 되면 아무리 괴로운 일이 닥쳐도 긍정적으로 받아들일 수 있게 됩니다.
						<br>그리고 마음이 안정되어 싸울 일도 적어지게 되며 스트레스도 시원하게 해소된다고 합니다
						<br>그림을 그리러 가볼까요?
						</p>
						
					<div class="row">
						
						
						<!-- Break -->
						<div class="col-4 col-12-medium">
							<h3>"명화 따라그리기" </h3>
							<p>명화를 감상하는 것만으로도 거친 감정이 <br> 누그러지는 경험을 할 수 있습니다 <br>
								선 하나 색 하나에 정성을 기울여 색칠하며<br> 몰아의 경험을 하러 가봅시다 
							</p>
							<a href="/state/assignment/draw/mh" class="button primary">시작하기</a>
							<!--draw_mh-->
						</div>
					
						<div class="col-4 col-12-medium">
							<h3>"내 초상화 그리기"</h3>
							<p> 내 얼굴을 집중해서 본적이 있나요?  <br>
								거울을 통해 내 생김새가 어떻게 생겼는지 관찰하고 그려봅시다 
							</p>
							<a href="/state/assignment/draw/self" class="button primary">시작하기</a>
							<!--draw_self-->

						</div>
						<div class="col-4 col-12-medium">
							<h3>"희망 꽃 그리기"</h3>
							<p> 꽃은 색에 따라 그 기운이 다릅니다. 
								<br>따라서 꽃을 색에 따라 적재적소에 활용한다면 필요한 에너지를 극대화할 수 있습니다. 
						
							</p>
							<a href="/state/assignment/draw/flo" class="button primary">시작하기</a>
							<!--draw_flo-->
						</div>
					</div>


			</div>
		</div>


	<!-- Sidebar -->
	{{>layout/sidebar}}

				<!-- Menu -->
				{{>layout/menu}}


				<!-- Section -->
				{{>layout/section}}
			
				<!-- Footer -->
				{{>layout/footer}}

