<!DOCTYPE HTML>

<html>

<head>
	<title>미술돌봄_초상화</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />
	<style>
		.image1{
			display: inline-block !important;
			float: left !important;
			margin: 20px;
			margin-bottom: 70px;
		}
		.button{
			position: fixed !important;
			bottom: 100px !important;
			right: 8%;
		}

		.h3{
		display: inline;
		}
	</style>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h1>"초상화 그리기"</h1>
					</header>

					<p><span class="image left"><img src="/static/images/self.jpg" alt="" /></span></p>


					&nbsp;
					<br>
					<br>
					<br>
					<br>
					<h3 class="h3" style="clear: both;">미술치료는 자신의 감정을 기록하고 전달하며 언어를 사용하지 않고도
					내적인 경험을 보여줄 수 있는 시각적인 수단이 됩니다.</h3>
					일상에서는 전화를 하거나 일상의 지루한 순간들을 메모지에 여러 가지 도형을 그리며 낙서로서 마음의 여유와 긴장과 스트레스를 풀어주는 방법들을 하고 있습니다.
					이러한 방법들은 창의적인 힘과 직관력을 자극하여 현재상태를 변화시키고 자아를 표현하는 방법이 됩니다.
					따라서 미술활동은 장식을 위한 것이든 즐거움을 얻기 위한 것이든 취미나 여가활동 뿐만 아니라 정서활동과
					자신의 존재를 다시금 깨달을 수 있는 큰 도움을 준다고 알고 있을 것입니다.</p>

					<br>
					<br>
					<br>
					<br>
					<br>
					<br>

					<h2 style="clear: both;"> 자신을 그려 보자 ! </h2>
					<br>

					<span class="image1"><img src="/static/images/self1.png" alt="" /></span>
					<span class="image1"><img src="/static/images/self2.png" alt="" /></span>
					<span class="image1"><img src="/static/images/self3.png" alt="" /></span>

					<a href="/home" class="button primary">메인화면</a>



			</div>
		</div>


		<!-- Sidebar -->
		{{>layout/sidebar}}

		<!-- Menu -->
		{{>layout/menu}}


		<!-- Section -->
		{{>layout/section}}

		<!-- Footer -->
		{{>layout/footer}}