<!DOCTYPE HTML>

<html>

<head>
	<title>자기효능감_롤모델작성</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="_csrf" content="{{_csrf.token}}"/>
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />


</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h2>"롤 모델 작성"</h2>
					</header>

					<!-- Content -->

					<p>롤모델은 미래를 향해 희망을 품고 달려나갈 수 있게 만들어주는 목표, 목적을 심어주는 요소입니다.
						<br> 여러분은 자신만의 롤 모델을 가지고 계십니까? <br> 지금 설정하시는게 어떨까요
					</p>
					<dl>
						<dt>예시1</dt>
						<dd>
							<p>울 엄마 최고 나이 50넘었는데ㅠ 주식 코인 한다고 알려주래ㅠ 열정장난아님</p>
						</dd>
						<dt>예시2</dt>
						<dd>
							<p>타일러 알지..걔 미국인이자나..근데 한국어 졸라잘해ㅠㅠ얼마나 노력했을까 넘 멋있어ㅠㅠ</p>
						</dd>
						<dt>여러분도 한번 써보세요</dt>
						<dd>
							<textarea name="efficacy_role" id="efficacy_role_text" placeholder="당신의 롤모델을 설정해보세요" rows="6"></textarea>
							<br>
							<button id="btn_efficacy_role" type="button" >완료</button>
							<!-- 완료 시 efficacy_role_com 페이지-->
						</dd>
					</dl>



			</div>
		</div>


	<!-- Sidebar -->
	{{>layout/sidebar}}

				<!-- Menu -->
				{{>layout/menu}}


				<!-- Section -->
				{{>layout/section}}
			
				<!-- Footer -->
				{{>layout/footer}}


