<!DOCTYPE HTML>

<html>

<head>
	<title>자기효능감_긍정환경작성</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="_csrf" content="{{_csrf.token}}"/>
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h2>"긍정적 환경 조성"</h2>
					</header>

					<!-- Content -->

					<br> 나를 방해하는 부정적인 주변요소들을 하나씩 적어 제거해보세요 
					<br> 마음이 조금 더 가벼워질 것입니다.
					<dl>
						<dt>예시1</dt>
						<dd>
							<p>컴퓨터 책상이 넘 지저분하고 더러워서 싹 정리하고 치웠더니ㅠ 너무 개운하고 기분도 좋아</p>
						</dd>
						<dt>예시2</dt>
						<dd>
							<p>내 주변에 맨날 내가 뭐만 한다고 하면 안된다고 만 하는 애 있는데..진짜ㅠ 걔랑 손절했더니 세상 천국이야 </p>
						</dd>
						<dt>여러분도 한번 써보세요</dt>
						<dd>
							<textarea name="efficacy_posi" id="efficacy_posi_text" placeholder="당신의 부정적 요소를 지워버리세요!" rows="6"></textarea>
							<br>
							<button id="btn_efficacy_posi" type="button" >완료</button>
							<!-- 완료 시 efficacy_posi_com 페이지-->
						</dd>
					</dl>



			</div>
		</div>


	<!-- Sidebar -->
	{{>layout/sidebar}}

				<!-- Menu -->
				{{>layout/menu}}


				<!-- Section -->
				{{>layout/section}}
			
				<!-- Footer -->
				{{>layout/footer}}

