<!DOCTYPE HTML>

<html>

<head>
	<title>자기효능감</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h1>자기효능감 높이기</h1>
					</header>

					<!-- Content -->
					<h2 id="content">우울 뽀셔뽀셔</h2>
					<p> 자기효능감은 개인이 결과를
						얻는 데 필요한 행동을 성공적으로 수행 할 수 있는 기술에
						대한 신념입니다. 
						<br>자기효능감이 높을수록 어떤 문제든지 해결할
						수 있다는 자신감은 우울을 이겨 낼 수 있다는 의미가 있습니다.
						</p>
						
					<div class="row">
						
						
						<!-- Break -->
						<div class="col-4 col-12-medium">
							<h3>"성공의 경험 작성" </h3>
							<p>	중도 포기하며 느끼는 지긋지긋한 패배감과 자괴감에서 이제는 벗어나고 싶은가요? 
							   <br>그렇다면 지금 당장 작고, 가볍고, 사소하게 시작합시다. 작은 성공이 인생을 바꿉니다.
							</p>
							<a href="/state/assignment/efficacy/suc" class="button primary">시작하기</a>
							<!--efficacy_suc-->
						</div>
					
						<div class="col-4 col-12-medium">
							<h3>"롤모델 작성"</h3>
							<p>
								롤모델은 미래를 향해 희망을 품고 달려나갈 수 있게 만들어주는 목표, 목적을 심어주는 요소입니다.
								<br> 여러분은 자신만의 롤 모델을 가지고 계십니까? <br> 지금 설정하시는게 어떨까요
							</p>
							<a href="/state/assignment/efficacy/role" class="button primary">시작하기</a>
							<!--efficacy_role-->

						</div>
						<div class="col-4 col-12-medium">
							<h3>"긍정적 환경조성"</h3>
							<p> 긍정적인 환경을 조성하는 일은 매우 중요합니다. 
								<br> 나를 방해하는 부정적인 주변요소들을 하나씩 적어 제거해보세요 
								<br> 마음이 조금 더 가벼워질 것입니다.
							</p>
							<a href="/state/assignment/efficacy/positive" class="button primary">시작하기</a>
							<!--efficacy_posi-->
						</div>
					</div>


			</div>
		</div>


	<!-- Sidebar -->
	{{>layout/sidebar}}

				<!-- Menu -->
				{{>layout/menu}}


				<!-- Section -->
				{{>layout/section}}
			
				<!-- Footer -->
				{{>layout/footer}}

