<!DOCTYPE HTML>

<html>

<head>
	<title>생활습관교정</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h1>생활습관 교정</h1>
					</header>

					<!-- Content -->
					<h2 id="content">우울 뽀셔뽀셔</h2>
					<p>생활 습관 교정은 우울감을 낮출 수 있는 가장 기본적인 것입니다. 
						<br>
						별표 열다섯개치고 개선하러 가볼까요?
						</p>
						
					<div class="row">
						
						
						<!-- Break -->
						<div class="col-4 col-12-medium">
							<h3>"수면 습관 개선" </h3>
							<p> '잠은 보약이다'라는 옛 우리말이 있습니다
								그만큼 잠이 중요하다는 뜻입니다.
							</p>
							<a href="/state/assignment/habit/sleep" class="button primary">시작하기</a>
							<!--habit_sleep-->
						</div>
					
						<div class="col-4 col-12-medium">
							<h3>"식습관 개선"</h3>
							<p> 우울감정에는 식습관도 영향을 끼칩니다
								대체 어떤 것들이 영향을 끼치는 지 보러 가봅시다
							</p>
							<a href="/state/assignment/habit/eat" class="button primary">시작하기</a>
							<!--habit_eat-->

						</div>
						<div class="col-4 col-12-medium">
							<h3>"운동습관 들이기"</h3>
							<p> 운동은 몸과 마음을 튼튼하게 해주는 주 재료입니다
								우리는 그 재료를 사야할때가 왔습니다
							</p>
							<a href="/state/assignment/habit/workout" class="button primary">시작하기</a>
							<!--habit_workout-->
						</div>
					</div>


			</div>
		</div>


	<!-- Sidebar -->
	{{>layout/sidebar}}

				<!-- Menu -->
				{{>layout/menu}}


				<!-- Section -->
				{{>layout/section}}
			
				<!-- Footer -->
				{{>layout/footer}}

