<!DOCTYPE HTML>

<html>

<head>
	<title>운동습관생성</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="_csrf" content="{{_csrf.token}}"/>
    <meta name="_csrf_header" content="{{_csrf.headerName}}"/>
    <link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

	<style>
		textarea{
			height: 80px !important ;
		}
	</style>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h2>"운동습관 생성"</h2>
					</header>

					<!-- Content -->

					<h3>1.30분 산책하기</h3>
					<dl>
						<dt>예시</dt>
						<dd>
							<p>2021.03.23 1PM~ 1:30PM 산책완료</p>
						</dd>
						<dt>오늘부터 작성해봅시다</dt>
						<dd>
							<textarea name="habit_working" id="habit_walking_text" placeholder="당신의 이야기를 들려주세요" rows="6"></textarea>
							<br>
						</dd>
					</dl>

					<h3>2. 15분 스트레칭 </h3>
					<dl>
						<dt>예시</dt>
						<dd>
							<p>2021.03.23 2PM 스트레칭 15분 완료 </p>
						</dd>
						<dt>오늘부터 작성해봅시다</dt>
						<dd>
							<textarea name="habit_streching" id="habit_streching_text" placeholder="당신의 이야기를 들려주세요" rows="6"></textarea>
							<br>
						</dd>
					</dl>

					<h3>3. 좋아하는 운동 만들고 실행하기</h3>
					<dl>
						<dt>예시</dt>
						<dd>
							<p>2021.03.23 킥복싱 오늘부터 나갔다 </p>
						</dd>
						<dt>오늘부터 작성해봅시다</dt>
						<dd>
							<textarea name="habit_like_workout" id="habit_like_workout_text" placeholder="당신의 이야기를 들려주세요" rows="6"></textarea>
							<br>
							<button id="btn_habit_workout" type="button" >완료</button>
							<!-- 완료 시 habit_workout_com 페이지-->
						</dd>
					</dl>



			</div>
		</div>


	<!-- Sidebar -->
	{{>layout/sidebar}}

				<!-- Menu -->
				{{>layout/menu}}


				<!-- Section -->
				{{>layout/section}}
			
				<!-- Footer -->
				{{>layout/footer}}


