<!DOCTYPE HTML>

<html>

<head>
	<title>병원_복용일지</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


			<!-- Content -->
			<section>
				<header class="main">
					<h2>"복용 일지"</h2>
				</header>

				<!-- Content -->

				<p> 복용 일지
				</p>
				<dl>
					<dt>예시1</dt>
					<dd>
						<p>2020.03.24 오늘 약은 뭐 렉사프로? 5mg을 처방받았어
						 <br> 이거 먹으니까 속이 좀 울렁거리는 거 같기두 해  </p>
					</dd>

					<dt>작성해보세요</dt>
					<dd>
						<textarea name="hosi_pill" id="hosi_pill" placeholder="당신의 이야기를 들려주세요" rows="6"></textarea>
						<br>
						<button id="btn_hosi_pill" type="button" >완료</button>
						<!-- 완료 시 hosi_pill_com 페이지-->
					</dd>
				</dl>



		</div>
	</div>


		

	<!-- Sidebar -->
	{{>layout/sidebar}}

				<!-- Menu -->
				{{>layout/menu}}


				<!-- Section -->
				{{>layout/section}}
			
				<!-- Footer -->
				{{>layout/footer}}


