<!DOCTYPE HTML>

<html>

<head>
	<title>병원_일기</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


			<!-- Content -->
			<section>
				<header class="main">
					<h2>"내 상태 쓰기"</h2>
				</header>

				<!-- Content -->

				<p> 상태 일지
				</p>
				<dl>
					<dt>예시1</dt>
					<dd>
						<p>2020.03.24 오늘 병원 다녀왔는데,,그냥 기분이 너무 우울해 <br>
						날씨가 우울해서 그런가 ..  </p>
					</dd>

					<dt>작성해보세요</dt>
					<dd>
						<textarea name="hosi_me" id="hosi_me_text" placeholder="당신의 이야기를 들려주세요" rows="6"></textarea>
						<br>
						<button id="btn_hosi_me" type="button" >완료</button>
						<!-- 완료 시 hosi_me_com페이지-->
					</dd>
				</dl>



		</div>
	</div>


		

	<!-- Sidebar -->
	{{>layout/sidebar}}

				<!-- Menu -->
				{{>layout/menu}}


				<!-- Section -->
				{{>layout/section}}
			
				<!-- Footer -->
				{{>layout/footer}}

