<!DOCTYPE HTML>

<html>

<head>
    <title>명상</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
                </header>


                <!-- Content -->
                <section>
                    <header class="main">
                        <h1>"명상하기" </h1>
                    </header>

                    <!-- Content -->
                    <h2 id="content">우울 뽀셔뽀셔</h2>
                    <p> 벗어나려 헛되이 발버둥 치기보다, 아파하며 신음하며 좌절하기보다, 굴레에 갇힌 스스로를 가만히 응시할 때에, <br> 그때에 우리는 조금 더 자유로워질 수 있을 것입니다. 그리고 이야기 합니다.
                        <br>
                        <br>"명상하라"
                    </p>
                    <br>
                    <div class="row">

                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/t0XYvFz6NKc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>


            </div>
        </div>


        <!-- Sidebar -->
        {{>layout/sidebar}}

        <!-- Menu -->
        {{>layout/menu}}


        <!-- Section -->
        {{>layout/section}}

        <!-- Footer -->
        {{>layout/footer}}