<!DOCTYPE HTML>

<html>

<head>
    <title>Join</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="_csrf" content="{{_csrf.token}}" />
    <meta name="_csrf_header" content="{{_csrf.headerName}}" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <link rel="stylesheet" href="/static/css/join.css" />
    <style>
        .int {
            width: 30em !important;
        }
        
        .int2 {
            width: 10em !important;
            height: 2.5em !important;
        }
    </style>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
                </header>
                <p>&nbsp;</p>
                <div>
                    <center>
                        <h2>회 원 가 입</h2>
                    </center>
                </div>


                <!-- wrapper -->
                <div id="wrapper">

                    <!-- content-->
                    <div id="content">

                        <!-- ID -->
                        <div>
                            <h3 class="join_title">
                                <label for="id">아이디</label>
                            </h3>
                            <span class="box int_id">
                                <input type="text" id="id" class="int" maxlength="20">
                                <span class="step_url"></span>
                            </span>
                            <span class="error_next_box"></span>
                        </div>

                        <!-- PW1 -->
                        <div>
                            <h3 class="join_title"><label for="pswd1">비밀번호</label></h3>
                            <span class="box int_pass">
                                <input type="password" id="pswd1" class="int" maxlength="20">
                                <span id="alertTxt">사용불가</span>

                            </span>
                            <span class="error_next_box"></span>
                        </div>

                        <!-- PW2 -->
                        <div>
                            <h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
                            <span class="box int_pass_check">
                                <input type="password" id="pswd2" class="int" maxlength="20">

                            </span>
                            <span class="error_next_box"></span>
                        </div>

                        <!-- NAME -->
                        <div>
                            <h3 class="join_title"><label for="name">이름</label></h3>
                            <span class="box int_name">
                                <input type="text" id="name" class="int" maxlength="20">
                            </span>
                            <span class="error_next_box"></span>
                        </div>

                        <!-- BIRTH -->
                        <div>
                            <h3 class="join_title"><label for="yy">생년월일</label></h3>

                            <div id="bir_wrap">
                                <!-- BIRTH_YY -->
                                <div id="bir_yy">
                                    <span class="box">
                                        <input type="text" id="yy" class="int2" maxlength="4" placeholder="년(4자)">
                                    </span>
                                </div>
                                <br>
                                <!-- BIRTH_MM -->
                                <div id="bir_mm">
                                    <span class="box can">
                                        <select id="mm" class="sel">
                                            <option>월</option>
                                            <option value="01">1</option>
                                            <option value="02">2</option>
                                            <option value="03">3</option>
                                            <option value="04">4</option>
                                            <option value="05">5</option>
                                            <option value="06">6</option>
                                            <option value="07">7</option>
                                            <option value="08">8</option>
                                            <option value="09">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </span>
                                </div>

                                <!-- BIRTH_DD -->
                                <div id="bir_dd">
                                    <span class="box can">
                                        <select id="dd" class="sel">
                                            <option>일</option>
                                            <option value="01">1</option>
                                            <option value="02">2</option>
                                            <option value="03">3</option>
                                            <option value="04">4</option>
                                            <option value="05">5</option>
                                            <option value="06">6</option>
                                            <option value="07">7</option>
                                            <option value="08">8</option>
                                            <option value="09">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                    </span>
                                </div>

                            </div>
                            <span class="error_next_box"></span>
                        </div>

                        <!-- GENDER -->
                        <div>
                            <h3 class="join_title"><label for="gender">성별</label></h3>
                            <span class="box gender_code">
                                <select id="gender" class="sel">
                                    <option>성별</option>
                                    <option value="MALE">남성</option>
                                    <option value="FEMALE">여성</option>
                                </select>
                            </span>
                            <span class="error_next_box">필수 정보입니다.</span>
                        </div>

                        <!-- EMAIL -->
                        <div>
                            <h3 class="join_title"><label for="email">이메일</label>
                            </h3>
                            <span class="box int_email">
                                <input type="text" id="email" class="int" maxlength="100" placeholder="이메일 입력">
                            </span>
                            <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>
                        </div>

                        <!-- MOBILE -->
                        <div>
                            <h3 class="join_title"><label for="phoneNo">휴대전화</label></h3>
                            <span class="box int_mobile">
                                <input type="tel" id="number" class="int" maxlength="16" placeholder="전화번호 입력">
                            </span>
                            <span class="error_next_box"></span>
                        </div>


                        <!-- JOIN BTN-->
                        <center>
                            <div class="btn_area">
                                <button type="button" id="btnJoin">
                                    가입
                                </button>
                            </div>
                        </center>



                    </div>
                    <!-- content-->

                </div>
                <!-- wrapper -->
                </section>
            </div>
        </div>


        <!-- Sidebar -->
        {{>layout/sidebar}}
        <!-- Menu -->
        {{>layout/menu}}
        <!-- Section -->
        {{>layout/section}}
        <!-- Footer -->
        {{>layout/footer}}