<!DOCTYPE HTML>

<html>

<head>
	<title>스토리_새로운내삶</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


			<!-- Content -->
			<section>
				<header class="main">
					<h2>"새로운 내 삶"</h2>
				</header>

				<!-- Content -->

				<p> 새로운 내 삶
				</p>
				<dl>
					<dt>예시1</dt>
					<dd>
						<p> 나는 아마 내가 원하는 공기업에 합격해서 ㅎㅎ 사원증 차고 다니지 않을가 싶어 꼭 성공해서 <br>
						점심먹고 커피들고 다시 사무실로 복귀하는 그 날을 꿈꾼다  </p>
					</dd>

					<dt>작성해보세요</dt>
					<dd>
						<textarea name="story_new" id="story_new_text" placeholder="당신의 이야기를 들려주세요" rows="6"></textarea>
						<br>
						<button id="btn_story_new" type="button" >완료</button>
						<!-- 완료 시 story_new_ com 페이지-->
					</dd>
				</dl>



		</div>
	</div>


		
<!-- Sidebar -->
{{>layout/sidebar}}

<!-- Menu -->
{{>layout/menu}}


<!-- Section -->
{{>layout/section}}

<!-- Footer -->
{{>layout/footer}}

