<!DOCTYPE HTML>

<html>

<head>
	<title>스토리</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h1>스토리텔링 </h1>
					</header>

					<!-- Content -->
					<h2 id="content">우울 뽀셔뽀셔</h2>
					<p> 내 인생에 대해서 이야기 해보는 시간을 가져봅시다
						과거, 현재 그리고 다가올 미래에 대해 생각해봅시다
						</p>
						
					<div class="row">
						
						
						<!-- Break -->
						<div class="col-4 col-12-medium">
							<h3>"나는 누구인가" </h3>
							<p>나는 나로 살아오면서 나에 대해서 한번도 생각해본적이 없던것 같습니다
								우리 지금 한번 생각해봅시다
							</p>
							<a href="/state/assignment/story/i" class="button primary">시작하기</a>
							<!--story_i-->
						</div>
					
						<div class="col-4 col-12-medium">
							<h3>"내 삶의 어려움"</h3>
							<p> 내가 지금 갖고 있는 힘들고 어려운 일은 무엇일까
								한번 제대로 정의해봅시다
							</p>
							<a href="/state/assignment/story/diff" class="button primary">시작하기</a>
							<!--story_diff-->

						</div>
						<div class="col-4 col-12-medium">
							<h3>"새로운 내 삶"</h3>
							<p> 하지만 당신의 미래는 정말 해피할거라는 거 알고 있습니다
								곧 다가올 나의 꽃날을 써봅시다
							</p>
							<a href="/state/assignment/story/new" class="button primary">시작하기</a>
							<!--story_new-->
						</div>
					</div>


			</div>
		</div>


<!-- Sidebar -->
{{>layout/sidebar}}

<!-- Menu -->
{{>layout/menu}}


<!-- Section -->
{{>layout/section}}

<!-- Footer -->
{{>layout/footer}}

