<!DOCTYPE HTML>

<html>

<head>
	<title>스토리_힘든삶</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


			<!-- Content -->
			<section>
				<header class="main">
					<h2>"내 삶의 어려움"</h2>
				</header>

				<!-- Content -->

				<p> 산다는 건 즐거울때도 있지만 힘들때도 있습니다 지금 당신이 힘들어 하는 것을 적어 보세요
				</p>
				<dl>
					<dt>예시1</dt>
					<dd>
						<p>난 지금 내 직업을 바꾸고 있는데......사실 난 컴퓨터라고는....한컴타자......뭐 이런거 밖에 몰라.....그래서 지금 <br>
						코딩하고 있는 거 자체가 너무 힘들고 어렵다ㅠㅠ 하지만 내 새로운 인생을 위해서 열심히 해보려구해 </p>
					</dd>

					<dt>작성해보세요</dt>
					<dd>
						<textarea name="story_diff" id="story_diff_text" placeholder="당신의 이야기를 들려주세요" rows="6"></textarea>
						<br>
						<button id="btn_stress_diff" type="button" >완료</button>
						<!-- 완료 시 stress_diff_com 페이지-->
					</dd>
				</dl>



		</div>
	</div>


		
<!-- Sidebar -->
{{>layout/sidebar}}

<!-- Menu -->
{{>layout/menu}}


<!-- Section -->
{{>layout/section}}

<!-- Footer -->
{{>layout/footer}}

