<!DOCTYPE HTML>

<html>

<head>
	<title>스토리_힘든삶완료</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />


</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h2>"삶의 어려움"</h2>
					</header>

					<!-- Content -->

					<p> 인생 어렵지만 그까이꺼 같이 헤쳐나가봅시다 당신은 할 수 있습니다 

					</p>
					<h3>{{#diff_post}}
							{{date}}
					</h3>
					<div class="box">
					<p>		{{diff}}
						{{/diff_post}} </p>
					</div>
					<a href="/home" class="button primary">메인화면</a>

			</div>
		</div>

<!-- Sidebar -->
{{>layout/sidebar}}

<!-- Menu -->
{{>layout/menu}}


<!-- Section -->
{{>layout/section}}

<!-- Footer -->
{{>layout/footer}}

