<!DOCTYPE HTML>

<html>

<head>
	<title>스토리_나</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


			<!-- Content -->
			<section>
				<header class="main">
					<h2>"나는 누구인가"</h2>
				</header>

				<!-- Content -->

				<p> 나에 대해서 한번 얘기해봅시다
				</p>
				<dl>
					<dt>예시1</dt>
					<dd>
						<p>내 이름은 ㅇㅇ이고 나이는 ㅇㅇ이야.. 나는 게임하는 걸 좋아하고......어렸을 때는 친구들과 노는 걸 좋아했는데 <br>
						지금은 늙어서 집에만 있는걸 좋아해 집순이라는 뜻이지...........ㅎㅎ</p>
					</dd>

					<dt>작성해보세요</dt>
					<dd>
						<textarea name="story_i" id="story_i_text" placeholder="당신의 이야기를 들려주세요" rows="6"></textarea>
						<br>
						<button id="btn_story_i" type="button" >완료</button>
						<!-- 완료 시 story_i_com 페이지-->
					</dd>
				</dl>



		</div>
	</div>


		
<!-- Sidebar -->
{{>layout/sidebar}}

<!-- Menu -->
{{>layout/menu}}


<!-- Section -->
{{>layout/section}}

<!-- Footer -->
{{>layout/footer}}

