<!DOCTYPE HTML>

<html>

<head>
    <title>스트레스관리</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />
    <style>
        .box {
            margin: 10px;
        }
        
        .primary {
            margin-bottom: 20px !important;
        }
    </style>

</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
                </header>


                <!-- Content -->

                <header class="main">
                    <h1>스트레스 날려버리자</h1>
                </header>

                <!-- Content -->
                <h2 id="content">"스스로 할 수 있는 스트레스 관리법"</h2>
                <div class="box">
                    <h3>1. 상대와 내가 다르다는 것을 인정하기 </h3>
                    상대를 존중하고 인정하며 나와는 다른 사람이므로 생각과 행동이 다른 것이 당연하다는 것을 받아들이면 스트레스 자극이 생기지 않는다.
                </div>

                <div class="box">
                    <h3>2. 긍정적으로 바라보기</h3>
                    우리는 흔히 위약효과라는 것을 들어서 알고 있다. 실제 약이 아닌 가짜 약을 먹어도 실제 치료약의 효과를 보는 현상이다. 긍정적인 태도로 최선을 다할 때 최선의 결과를 얻을 수 있다.
                </div>

                <div class="box">
                    <h3>3. 운동하기 </h3>
                    걷기, 달리기, 자전거 타기 등 유산소 운동은 가벼운 우울 증상을 호전시킬 만큼 효과적인 스트레스 해소법이다.
                </div>

                <div class="box">
                    <h3>4. 점진적 근육 이완법</h3>
                    몸을 몇 군데로 나누어 긴장과 이완을 반복해 근육의 긴장과 이완을 더 잘 느끼도록 해 스트레스에 따른 근육 긴장을 줄임으로써 스트레스 반응을 줄인다.
                </div>

                <div class="box">
                    <h3 style="clear: both;">5. 마음 챙김 명상 </h3>
                    판단 없이 순간에 집중해 문제를 받아들일 수 있는 마음가짐을 가지도록 한다. 눈을 감고 나의 몸 구석구석에서 느껴지는 감각에 집중한다. 이때 머릿속에 떠오르는 잡념들은 그대로 내버려 두고 바라본다. 우울, 불안, 통증, 감정적인 스트레스를 줄이는 데 도움이 된다.
                </div>
                <br>
                <center><a href="/home" class="button primary">메인화면</a></center>



            </div>
        </div>

        <!-- Sidebar -->
        {{>layout/sidebar}}

        <!-- Menu -->
        {{>layout/menu}}


        <!-- Section -->
        {{>layout/section}}

        <!-- Footer -->
        {{>layout/footer}}