<!DOCTYPE HTML>

<html>

<head>
	<title>스트레스</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css" />


</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/home" class="logo"><strong>우울뽀시기&nbsp;&nbsp;&nbsp;</strong> '내안에 숨어있는 우울을 찾아'</a>
				</header>


				<!-- Content -->
				<section>
					<header class="main">
						<h1>스트레스 관리</h1>
					</header>

					<!-- Content -->
					<h2 id="content">우울 뽀셔뽀셔</h2>
					<p>모두 서터레스 가지고 있을 것 입니다
						스트레스가 만병에 원인입니다
						해소 해주는 것이 가장 중요합니다 
						좋아하는 일은 더 많이 싫어하는 일은 더 적게 !
						</p>
						
					<div class="row">
						
						
						<!-- Break -->
						<div class="col-4 col-12-medium">
							<h3>"내가 좋아하는 것" </h3>
							<p> 아마 당신은 본인이 좋아하는 것을 적으라 하면 몇개 적지 못할 것입니다
								살면서 내가 뭘 좋아하는지 생각해봅시다
								일단 저는 초코우유를 좋아합니다
							</p>
							<a href="/state/assignment/stress/like" class="button primary">시작하기</a>
							<!--stress_like-->
						</div>
					
						<div class="col-4 col-12-medium">
							<h3>"내가 싫어하는 것"</h3>
							<p> 내가 싫어하는 것은 안하는 것이 맞습니다 
								복잡한 세상 편하게 삽시다
								싫어하는 것을 적어보세요
							</p>
							<a href="/state/assignment/stress/hate" class="button primary">시작하기</a>
							<!--stress_hate-->

						</div>
						<div class="col-4 col-12-medium">
							<h3>"그렇다묜 오또케 하지"</h3>
							<p> 스트레스 관리에 대해서 몇 가지 알려드리겠습니다
								지금 확인하시고 따라해보세요
								화이팅입니다
							</p>
							<a href="/state/assignment/stress/manage" class="button primary">시작하기</a>
							<!--stress_manage-->
						</div>
					</div>


			</div>
		</div>

<!-- Sidebar -->
{{>layout/sidebar}}

<!-- Menu -->
{{>layout/menu}}


<!-- Section -->
{{>layout/section}}

<!-- Footer -->
{{>layout/footer}}

